{
  "name": "@zsh-history-enquirer/{{NPM_PLATFORM}}",
  "version": "{{VERSION}}",
  "description": "{{NPM_PLATFORM}} binary for zsh-history-enquirer (do not install directly).",
  "license": "MIT",
  "homepage": "https://github.com/zthxxx/zsh-history-enquirer",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/zthxxx/zsh-history-enquirer.git"
  },
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org"
  },
  "os": [
    "{{NODE_OS}}"
  ],
  "cpu": [
    "{{NODE_CPU}}"
  ],
  "files": [
    "bin/zsh-history-enquirer",
    "README.md",
    "LICENSE"
  ]
}
